<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<infinitepay>
				<active>1</active>
				<model>Cloudwalk\InfinitePay\Model\Payment\InfinitePay</model>
				<order_status>pending</order_status>
				<title>InfinitePay</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</infinitepay>
		</payment>
		<sales>
			<general>
				<enabled/>
				<title/>
				<description/>
				<instructions/>
				<max_installments/>
				<max_installments_free/>
				<api_key/>
			</general>
		</sales>
	</default>
</config>
