<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<payment>
			<infinitepay>
				<active>1</active>
				<model>Cloudwalk\InfinitePay\Model\Payment</model>
				<order_status>pending</order_status>
				<payment_action>authorize</payment_action> 
				<title>InfinitePay</title>
				<allowspecific>0</allowspecific>
			</infinitepay>
		</payment>
		<sales>
			<general>
				<active/>
				<title/>
				<active_creditcard/>
				<instructions_creditcard/>
				<max_installments/>
				<max_installments_free/>
				<active_pix/>
				<instructions_pix/>
				<discount_pix/>
				<min_value_pix/>
				<sandbox/>
				<client_id/>
				<client_secret/>
			</general>
		</sales>
	</default>
</config>